div.col1 {
	float: left;
	margin-right: 50px;
}
div.col2 {
	float: left;
	margin-left: 50px;
}

body {
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: white;
	font-family: 'High Tower Text';
}

p {
	color: white;
	font-family: 'High Tower Text';
}

h3 {
	color: white;
	font-family: 'High Tower Text';
}

button.compile {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family: 'High Tower Text';
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button.compile:hover {
	background-color:#ccc2a6;
}

button.compile:active {
	position:relative;
	top:1px;
}